.background_img{
  position: absolute;
  z-index: -1;
  height: max-content;
  width: 1910px;
  top: 0px;
  right: 0;
  left: 0;
}
.background_img_2{
  position: absolute;
  z-index: -1;
  height: max-content;
  width: 1910px;
  top: 920px;
  right: 0;
  left: 0;
  filter: 60%;
}
.nav-logo {
  margin-left: 850px;
  margin-top: 50px;
}
.nav-ul {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-left: 610px;
}
.nav-ul_li {
  list-style: none;
  color: #ffffff;
  font-size: 130%;
}
.nav-ul_a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.nav-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1860px;
  top: 120px;
}
.nav {
}
.nav-burger {
}
.line {
}
.nav-ul_a {
}
.nav-ul_li {
}
.nav-icon {
}
.nav-welcome {
  margin: 40px;
  position: relative;
  color: #ffffff;
  font-size: 30px;
  top: 60px;
}
.nav-welcome_teyvat {
  color: #ffffff;
}
.nav-welcome_genshin {
  color: #ffffff;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  width: 500px;
  height: 500px;
}
.modal-container.show .overlay,
.modal-container.show .modal {
display: block;
}

.modal-container {
position: relative;
}

.modal-trigger {
color: #fff;
cursor: pointer;
margin-left: -40px;
}

.modal__close {
position: absolute;
left: 500px;
cursor: pointer;
}
.modal__close-o{
position: relative;
left: 492px;
top:17px;
height: 25px;
width: 25px;
background-color: rgba(0, 0, 255, 0.3);
border-radius: 50px;
}
.modal-form__label {
  display: block;
  padding:20px 0 10px 10px;
  color: #0000007e;
}
.modal-form__input {
  width: 470px;
  height: 40px;
  padding-left: 20px;
  justify-content: center;
}
.modal-form__textarea {
  width: 470px;
  height: 200px;
  padding-left: 20px;
}
.modal-form-accept {
}
.modal-form-accept__checkbox {
  position: absolute;
  margin-left: 0px;
  margin-top: 2px;
}
.modal-form-accept-info {
  margin-left: 30px;
  margin-bottom: 20px;
}
.modal-form-accept-info__privacy {
}
.modal-form__btn {
  margin: 0 auto;
  height: 80px;
  width: 200px;
  margin-left: 150px;
  background-color: #3C3537;
  color: #fff;
  border: 30px;
}
.problems_regestration{
  color: #ffd49f;
}
.come_regestration{
  color: #ffd49f;
}
.problems{
  display: flex;
  gap: 130px;
}


.nav-welcome_button {
    position: relative;
    font-size: 20px;
    top:50%;
    background-color:#3C3537;
    color: #F3F2F2;
    border:none; 
    border-radius:10px; 
    padding:10px;
    min-height:30px; 
    min-width: 120px;
    cursor: pointer;
  }
  .platforms {
    position: relative;
    top: 170px;
    margin-left: 1200px;
  }
  .platforms_downlaund {
    position: relative;
    right: 170px;
    color: #F3F2F2;
    font-size: 30px;
    background-color: #3C3537;
    border-radius:10px; 
    padding:10px;
    min-height:30px; 
    min-width: 120px;
  }
  .platforms_downlaund_1 {
    background-color: #3C3537;
    position: absolute;
    left: -190px;
    bottom: -11px;
    cursor: pointer;
  }
  .platforms_downlaund_2 {
    position: relative;
    cursor: pointer;
  }
  .platforms_downlaund_3 {
    position: relative;
    cursor: pointer;
  }
.main {
  margin-top: 200px;
}
.information {
  
}
.information-conrent {
  position: absolute;
  background: rgba(38, 18, 12, 0.62);
  height: 400px;
  width: 690px;
  margin-left: 938px;
  margin-top: -450px;
}
.information-tab-list {
  color: #ffd49f;
  list-style: none;
  font-size: 25px;
}
.information-tab-item {
}
.information-class {

  position: relative;
  margin-left: 800px;
  color: #fff;
  font-size: 80px;

}
.information-new {

}
.information-new_a {
  text-decoration: none;
}
.information-new_li {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
  box-sizing: content-box;
  font-size: 16px;
  color: #fff;
  
}
.information-more_button{
  position: relative;
  font-size: 20px;
  left: 566px;
  background-color:#3C3537;
  color: #F3F2F2;
  border:none; 
  border-radius:10px; 
  padding:10px;
  min-height:30px; 
  min-width: 120px;
  cursor: pointer;
}
.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 47rem;
  margin: 0 auto;
  margin-left: 260px;
}

.slider {
  width: 640px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition-duration: 0ms;
  transform: translate3d();
}

.slider img {
  flex: 100%;
  scroll-snap-align: start;
}

.slider-nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 40%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 40%;
  background-color: #fff;
  opacity: 0.75;
}

::-webkit-scrollbar {
  width: 0;
} /*# sourceMappingURL=style.css.map */


.city {
  margin-top: 237px;
}
.city__list {
}
.city__list-item {
  list-style-type: none;
}
.city_img-1{
  position: relative;
  z-index: -1;
  height: max-content;
  width: 1910px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: -48px;

}
.city_img-2{
  position: relative;
  z-index: -1;
  height: max-content;
  width: 1910px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: -48px;

}
.city_img-3{
  position: relative;
  z-index: -1;
  height: max-content;
  width: 1910px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: -48px;

}
.city_img-4{
  position: relative;
  z-index: -1;
  height: max-content;
  width: 1910px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: -48px;

}
.city_img-5{
  position: relative;
  z-index: -1;
  height: max-content;
  width: 1910px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: -48px;

}
.city_name-monshtat{
  position: absolute;
  text-decoration: none;
  color: #F3F2F2;
  right: 850px;
  font-size: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 0px;
  margin-top: -120px;
}
.city_name-li-ue{
  position: absolute;
  text-decoration: none;
  color: #F3F2F2;
  right: 870px;
  font-size: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 0px;
  margin-top: -120px;
}
.city_name-inadzuma{
  position: absolute;
  text-decoration: none;
  color: #F3F2F2;
  right: 830px;
  font-size: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 0px;
  margin-top: -120px;
}
.city_name-sumery{
  position: absolute;
  text-decoration: none;
  color: #F3F2F2;
  right: 850px;
  font-size: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 0px;
  margin-top: -120px;
}
.city_name-fontain{
  position: absolute;
  text-decoration: none;
  color: #F3F2F2;
  right: 830px;
  font-size: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 0px;
  margin-top: -120px;
}
.city_name{
  position: absolute;
  text-decoration: none;
  color: #F3F2F2;
  right: 950px;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
.city__list-bg {
}
.footer {
}
.footer_img{
  position: absolute;
  z-index: -2;
  height: max-content;
  width: 1910px;
  height: 740px;
  top: 2900px;
  right: 0;
  left: 0;
  filter: 60%;
}
.last-news-company {
  color: #F3F2F2;
  list-style: none;
  color: #ffffff;
  font-size: 110%;
}
.last-news-company_sb {
  color: #F3F2F2;
  margin-left: 650px;
  font-size: 40px;
}
.last-news-company_text {
  position: relative;
  color: #F3F2F2;
  font-size: 20px;
  top:60px;
}
.form {
  margin-left: 1300px;
  margin-top: -50px;
}
.sub{
  position: relative;
  font-size: 20px;
  top:50%;
  background-color:#3C3537;
  color: #F3F2F2;
  border:none; 
  border-radius:10px; 
  padding:10px;
  min-height:30px; 
  min-width: 120px;
  cursor: pointer;
}
.form-check {

}
.form-check-input {
  position: relative;
  font-size: 20px;
  top:100%;
  border:none; 
  border-radius:10px; 
  padding:10px;
  min-height:30px; 
  min-width: 120px;
}
.form-check-input_2 {

}
.form-check-label {

}
.nav-logo_end{
  margin-left: 900px;
}
.conficialnyst {
  color: #F3F2F2;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
       margin-left: 480px;
}
.conficialnyst_politika-li {
  color: #F3F2F2;
  list-style: none;
  color: #ffffff;
  font-size: 130%;
}
.dop_info {
  color: #F3F2F2;
  margin-left: 525px;
}
.dop_info_2 {
  color: #F3F2F2;
  justify-content: center;
}




.background_img-news{
  position: absolute;
  z-index: -1;
  height: max-content;
  width: 1920px;
  bottom: 30px;
  right: 0;
  left: 0;
  filter: 60%;

}
.recomend {
  display: flex;
  position: relative;
  gap: 30px;
  margin-top:40px;
  padding: 20px;
}
.recomend__item {
  position: relative;
    font-size: 24px;
    color: #F3F2F2;
    text-decoration: none;
    overflow: hidden;
    background-color: rgba(18, 18, 18, 0.8);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
    width: 600px;
}
.news__title {
  padding: 20px;
}
.recomend__img {
  width: 560px;
  margin-top: 20px;
}
.recomend__title {
}
.summary {
}
.news-date{
  padding: 20px;
}
.recomend__date {

}
.recomend__category {
  margin-left: 360px;
}
.background_img_news{
  position: absolute;
  z-index: -1;
  height: max-content;
  width: 1910px;
  height: 2011px;
  top: 889px;
  right: 0;
  left: 0;

}
.news_ul {
  height: 300px;
  width: 1730px;

}
.news-now {
  margin-left: 70px;
  list-style: none;
  background-color: rgba(33, 33, 33, 0.8);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
  display: flex;
  margin-top: 38px;
}
.news_photo {
  height: 300px;
  width: 500px;
}
.news_name {
  padding: 20px;
  line-height: 22px;
  color: #cecece;
}
.news_summary {
  position: relative;
    font-size: 16px;
    line-height: 22px;
    color: #7d7d7d;
    padding: 20px;
}
.more_news{
  position: relative;
  font-size: 20px;
  background-color:#3C3537;
  color: #F3F2F2;
  border:none; 
  border-radius:10px; 
  padding:10px;
  min-height:30px; 
  min-width: 120px;
  cursor: pointer;
  top: 1460px;
  left: 880px;
}
.footer_news{
  margin-top: 1700px;
}





